GEMINI_API_KEY="AIzaSyDORSENpOgu2JSUttlVdpKIENynCfqysY4"
APP_URL="http://localhost:5173"
# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyAt6mhCQ1SEzzbWEadCfRsEBMGiLlVK0wo"
VITE_FIREBASE_AUTH_DOMAIN="naruto-monopoly-mitchdev.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL="https://naruto-monopoly-mitchdev-default-rtdb.asia-southeast1.firebasedatabase.app"
VITE_FIREBASE_PROJECT_ID="naruto-monopoly-mitchdev"
VITE_FIREBASE_STORAGE_BUCKET="naruto-monopoly-mitchdev.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="145416601980"
VITE_FIREBASE_APP_ID="1:145416601980:web:d1c526142fbcb33e0d24f9"
VITE_FIREBASE_MEASUREMENT_ID="G-H9TV4KCYGQ"